body{
background-color:  #ffffff; 
position: absolute;
}


.simplonoccitanie{
	margin-top: 2px;
	margin-left: 2px;
	position: absolute;
	height:200px;
	width: 200px;
	z-index: 1;
}

h1 {
	position: absolute;
	text-align: center;
	height: 700px;
	width: 700px;
	margin-top: 20px;
	margin-left: 200px;
	color: red;
	z-index: 2;
	font: 40px cursive, American Typewriter, serif;
}

.ecolenumerique{
	margin-top: 2px;
	margin-left: 900px;
	position: relative;
	height:150px;
	width: 350px;
	z-index: 2;
	}


hr{
	color: red;
	width: 50%;
	margin-left:20%;
}

.formateurs{
	color: red;
	font: 20px cursive, American Typewriter, serif;
	margin-top: 100px;

}
.victor{
	position: absolute;
	margin-top: 0px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}
a.lengendvictor span: hover{
	border: 10px solid black;
}
.remy{
	position: absolute;
	margin-top: 0px;
	margin-left: 150px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}
.raph{
	position: absolute;
	margin-top: 0px;
	margin-left: 300px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}
.hans{
	position: absolute;
	margin-top: 0px;
	margin-left: 450px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}
.celia{
	position: absolute;
	margin-top: 0px;
	margin-left: 600px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.apprenants{
	color: red;
	font: 20px cursive, American Typewriter, serif;
	margin-top: 150px;
}


.antony{
	position: absolute;
	margin-top: 10px;
	margin-left: 0px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.aurore{
	position: absolute;
	margin-top: 10px;
	margin-left: 150px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}
.benoit{
	position: absolute;
	margin-top: 10px;
	margin-left: 300px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.breno{
	position: absolute;
	margin-top: 10px;
	margin-left: 450px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.florent{
	position: absolute;
	margin-top: 10px;
	margin-left: 600px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.gregorio{
	position: absolute;
	margin-top: 10px;
	margin-left: 750px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.jonathan{
	position: absolute;
	margin-top: 10px;
	margin-left: 900px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.loic{
	position: absolute;
	margin-top: 10px;
	margin-left: 1050px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.lucile{
	position: absolute;
	margin-top: 150px;
	margin-left:0px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}
.massoud{
	position: absolute;
	margin-top: 150px;
	margin-left:150px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.rabe{
	position: absolute;
	margin-top: 150px;
	margin-left:300px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.rodrigue{
	position: absolute;
	margin-top: 150px;
	margin-left:450px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.sylvain{
	position: absolute;
	margin-top: 150px;
	margin-left:600px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.wojciech{
	position: absolute;
	margin-top: 150px;
	margin-left:750px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}

.yannik{
	position: absolute;
	margin-top: 150px;
	margin-left:900px;
	width: : 100px;
	height: 100px;
	-webkit-border-radius:150px;
	-moz-border-radius: 150px;
	border-radius:150px;
}